# VCS
autoload -U vcs_info
zstyle ':vcs_info:*' formats '.%s:%b'
zstyle ':vcs_info:*' actionformats '.%s:%b (%a)'

precmd () {
    psvar=()
    LANG=en_US.UTF-8 vcs_info
    [[ -n $vcs_info_msg_0_ ]] && psvar[1]=$vcs_info_msg_0_
}

tty="%y"
hosts="%n@%M"
rhosts=$hosts
dpath="%d"
cpath="%c"
vcs="%1v"
date="%D %T"

case $TERM in
    *color)
        tty="%F{yellow}%B$tty%b%f"
        hosts="%F{green}$hosts%f"
        rhosts="%F{red}%U$rhosts%u%f"
        dpath="%F{blue}%B$dpath%b%f"
        cpath="%F{blue}$cpath%f"
        vcs="%F{magenta}%B$vcs%b%f"
        date="%F{cyan}$date%f"
        ;;
esac

if [ $USER = "root" ]; then
    hosts=$rhosts
fi

PROMPT="$tty $hosts $dpath
$cpath$vcs%# "
RPROMPT="[$date]"
PROMPT2=""
